<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Superhero List</h1>
    <a href = "localhost:3000/superheroes/0">Batman</a><br>
    <a href = "localhost:3000/superheroes/1">Superman</a><br>
    <a href = "localhost:3000/superheroes/2">Hulk</a>
  </body>
</html>
